* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
}


:root {
  --bg-black: #222;
  --violet: #6d28d9;
  --purple: #7e22ce;
  --green: #25d366;
  --red: #ff014f;
  --bg-silver: #444;
  --gray:  rgba(59, 48, 33, 0.9);
  --light-color: #777;
  --bg-color: #e6e6e6;
  --border: 0.1rem solid rgba(0, 0, 0, 0.2);
  --box-shadow: 0.4rem 0.4rem 1rem #ccc, -0.4rem -0.4rem 1rem #fff;
  --box-shadow-inset: 0.4rem 0.4rem 1rem #ccc inset, -0.4rem -0.4rem 1rem #fff inset;
  --box-shadow-color: 4px 4px 6px 0 rgba(255, 255, 255, 0.5), -4px -4px 6px 0 rgba(116, 125, 136, 0.5), inset -4px -4px 6px 0 rgba(255, 255, 255, 0.2), inset 4px 4px 6px 0 rgba(0, 0, 0, 0.4);
}


body.active {
  --hijau: #fff;
  --text-green: #ff014f;
  --red: #ff014f;
  --green: #ff014d00;
  --black: #fff;
  --color-3b4149: #3b4149;
  --gray: rgba(196, 207, 222, 0.9);
  --light-color: #ddd;
  --bg-color: #222;
  --border: 0.1rem solid rgba(0, 0, 0, 0.4);
  --box-shadow: 0.4rem 0.4rem 1rem #111, -0.4rem -0.4rem 1rem #333;
  --box-shadow-inset: 0.4rem 0.4rem 1rem #111 inset, -0.4rem -0.4rem 1rem #333 inset;
  --box-shadow-color: 0.4rem 0.4rem 1rem #111 inset, -0.4rem -0.4rem 1rem #333 inset;
}



a{
  text-decoration: none !important;
  margin-bottom: 0;
  display: inline-block;
}

/* header Part Start  */
  .header-top{
    background: var(--bg-black);
    border-bottom: 1px solid var(--color-3b4149);
  }

  .header-nav {
    background: var(--black);
  }


/* header Part End */